@import url('https://fonts.googleapis.com/css?family=Lato:wght@100..700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Noto+Color+Emoji&family=Quicksand:wght@300..700&display=swap');
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

/* Style */
body {
    background-color: #000;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    user-select: none;
    margin-top: 4rem;
    text-align: center;
    font-size: large;
    background-image: linear-gradient(90deg, #595cff 0%, #ffdcdc 50%, #fb1717 100%);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

p:hover {
    cursor: pointer;
}

.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}

.timer {
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    background-color: whitesmoke;
    background-image:none;
  
      }



.emojis {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



html, body {
    width: 100%;
    height: 100%;
}

.flex-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Variables */
:root {
    --background: #111111;
    --red: #e12d73;
    --orange: #e23d74;
    --yellow: #e34d75;
    --green: #e45d76;
    --blue: #e56d77;
    --purple: #e67d78;
}



  
  
  
 